{% extends 'layout.html' %}

{% block content %}
<p><a href="/">Back</a></p>
<h1>Validating {{ repo }}</h1>

<p>Repository: {{ repo }}</p>
<p>Number of markdown files: <code> {{ files|length }} </code></p>

{% if files|length > 0 %}
<p>List of files:</p>
<ul>
    {% for item in files %}
    <li><a href="{{ item.html_url }}" target="_blank">{{ item.path }}</a>
    {% endfor %}
</ul>
{% else %}
<p>No markdwown files found.</p>
{% endif %}

{% for file in validation.keys() %}
<p>Validation for file {{file}}</p>
<p>{{validation[file]}}</p>
<ul>
    {% for error in validation[file][1] %}
    <li>{{error.autos[0]}} {{error.code}}
    {% endfor%}
</ul>
{% endfor %}
{% endblock %}

<pre>{{validation}}</pre>