{% extends 'layout.html' %}

{% block content %}
<p><a href="/">Back</a></p>
<h2>Report</h2>
<h3>Repository</h3>
<p class="lead">
    {{ repo }} ({{tree}})
    <a href="{{ repo }}/tree/{{ tree }}" target="_blank"><i class="bi-box-arrow-up-right"></i></a>
    <code> {{ files|length }} </code> files found.
</p>

{% if files|length > 0 %}
<p>List of files:</p>
<ul class="list-group">
    {% for item in files %}
    <li class="list-group-item"><a href="#{{item.path}}">{{ item.path }}</a>
        <a href="{{ repo }}/tree/{{ tree }}/{{ item.path }}" target="_blank"><i class="bi-box-arrow-up-right"></i></a>
    {% endfor %}
</ul>
{% else %}
<p>No markdwown files found.</p>
{% endif %}

<h2>Validation details</h2>
{% for file in validation.keys() %}
<h3 id="{{file}}">{{file}}</h3>
<!--<p>Validation for file {{file}}</p>-->
<ul class="list-group">
    {% for error in validation[file][1] %}
    <li class="list-group-item">{{error.autos[0]}} {{error.code}}
        <a href="{{ repo }}/tree/{{ tree }}/{{file}}" target="_blank"><i class="bi-box-arrow-up-right"></i></a>
    {% endfor%}
</ul>
{% endfor %}
{% endblock %}

<pre>{{validation}}</pre>